@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", system-ui;
}

.container {
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 350px;
  min-height: 200px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.7);
}

/* Search Bar */

.search {
  display: flex;
  justify-content: center;
  margin: 4% 2%;
}

.search-input {
  width: 80%;
  padding: 10px 20px;
  height: 40px;
  border: none;
  border-radius: 20px;
  margin-right: 5px;
  font-size: 0.92rem;
  outline: none;
  background-color: #2c3e50;
  color: white;
  transition: background-color 0.3s ease;
}

.search-input:focus {
  background-color: #33485e;
}

.search-input::placeholder {
  color: #d3d3d3;
}

.search-btn {
  padding: 5px 15px;
  border: none;
  border-radius: 20px;
  background-color: #2c3e50;
  transition: background-color 0.3s ease;
}

.search-btn:hover {
  background-color: #33485e;
}

.search-icon {
  width: 1.125rem;
}
/* Error */

.error {
  display: flex;
  justify-content: center;
  color: #33485e;
  font-weight: 500;
  display: none;
}

/* Weather Container */

.weather {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.weather-img {
  width: 100px;
}

.temp {
  font-weight: 500;
  font-size: 3rem;
  color: #2c3e50;
}

.city {
  margin-top: -5px;
  color: #2c3e50;
  font-weight: 400;
  font-size: 2rem;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0rem;
  width: 80%;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
  color: #2c3e50;
}

.col-icon {
  width: 2.6rem;
  margin-right: 0.6rem;
}

.humidity,
.wind {
  font-size: 1.2rem;
  font-weight: 500;
}
